@import 'https://fonts.googleapis.com/css?family=Space+Mono';

:root {
  --primary-color: #abb2bf;
  --error-color: #e06c75;
  --success-color: #98c379;
  --bg-color: #282c34;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  -webkit-user-select: none;
}

#content {
  position:absolute;
  height: 400px;
  width: 600px;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -300px;
}

#words-container {
  font-family: 'Space Mono', monospace;
  font-size: 22px;
  line-height: 2.5ex;
  max-height: 7.5ex;
  overflow: hidden;
  text-align: justify;
}

#input {
  margin-top: 30px;
  text-align: center;
  font-family: 'Space Mono', monospace;
  border: 0;
  background: none;
  font-size: 24px;
  outline: 0;
  width: 100%;
  color: var(--primary-color);
  tap-highlight-color: rgba(0,0,0,0);
  touch-callout: none;
}
